
/* Roboto font & Scroll*/

* {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: #858585;
}

section::-webkit-scrollbar{
    width: 10px;
}
section::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background: var(--font-light-color);
}
section::-webkit-scrollbar-track{
    background: #ededed;
}

/* Container */

.container{
    max-width: 1200px;
    margin: auto;
}

/* Background */

body{
    background-image: url(../../img/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Colors */

:root{
    --nav-font-color: #fff;
    --font-light-color: #409DBA;
    --theme-background-color: #010A19;
}

