/* O CSS segue o padrão mobile first */

/*  Classes reutilizadas  */

.d-none{
    display: none;
}

.d-flex{
    display: flex;
}

.direction-resp{
    flex-direction: column;
}

@media(min-width: 700px){
    .direction-resp{
        flex-direction: row;
    }
}

.centralize{
    justify-content: center;
    align-items: center;
}

.p-1{padding: 10px;}
.p-2{padding: 20px;}
.p-3{padding: 30px;}

/* Navbar */

h1{
    color: var(--nav-font-color);
    padding: 30px 0;
    text-shadow: 0 0 12px var(--font-light-color), 0 0 50px var(--font-light-color), 0 0 100px var(--font-light-color);
    text-transform: uppercase;
    font-size: 26px;
}

nav{
    padding: 20px;
    width: 250px;
    height: 100vh;
    background-color: var(--theme-background-color);
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
}

nav ul{
    padding: 0;
}

nav li{
    list-style: none;
    cursor: pointer;
    color: var(--nav-font-color);
    font-size: 20px;
    padding: 20px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

nav li:hover{
    text-shadow: 0 0 12px var(--font-light-color), 0 0 70px var(--font-light-color), 0 0 100px var(--font-light-color);
    transform: scale(1.1);
}

/* Main */

main{
    width: 100%;
    height: 100%;
    padding-left: 250px;
    padding-top: 50px;
}

div.container{
    margin: auto;
    padding: 20px;
    width: 100%;
    height: 50%;
}

.dashboards__cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.dashboards__cards section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard__data-card{
    width: 300px;
    height: 250px;
    background-color: #f5f5f5bb;
    border: solid 2px black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard__list{
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}

#dashboard__leads{
    background-color: #f5f5f5bb;
    border: solid 2px black;
    border-radius: 0 0 5px 5px;
    width: 100%;
    height: 30vh;
    margin: 0 10px;
    overflow-y: auto;
}

/* Conteudo interno */
.dashboard__card-text{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    line-height: 2.5rem;

}

.dashboard_tittle-style{
    width: 100%;
    border-radius: 20px 20px 0 0;
    background-color: #f5f5f5bb;
    border: solid 2px black;
    text-align: center;
    margin: 0 10px;
    padding: 10px;
}

.dashboard__ultimos-leads-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dashboard__divisor{
    width: 100%;
    height: 2px;
    background-color: #666;
}

.dashboard__divbar{
    height: 70px;
    width: 2px;
    background-color: #666;
}


.dashboard__email-list{
    width: 300px;
}

.dashboard__avatar-list{
    width: 50px;
    border-radius: 10px;
    border: 2px solid black;
    height: 100%;
}
.dashboard__name-list{
    width: 20%;
}
.dashboard__plan-list{
    width: 20%;
}


/* Users */
.dashboard__users{
    background-color: #f5f5f5bb;
    height: 800px;
    width: 100%;
    overflow-y: auto;
    padding: 20px;
}

/* Leads */
.dashboard__leads-page{
    background-color: #f5f5f5bb;
    height: 500px;
    width: 100%;;
    overflow-y: auto;
    padding: 20px;
}