/* O CSS segue o padrão mobile first */

/*  Classes reutilizadas  */

.d-none{
    display: none;
}

.d-flex{
    display: flex;
}

.direction-resp{
    flex-direction: column;
}

@media(min-width: 700px){
    .direction-resp{
        flex-direction: row;
    }
}

.centralize{
    justify-content: center;
    align-items: center;
}


/* Navbar */

h1{
    color: var(--nav-font-color);
    padding: 30px 0;
    text-shadow: 0 0 12px var(--font-light-color), 0 0 50px var(--font-light-color), 0 0 100px var(--font-light-color);
    text-transform: uppercase;
    font-size: 26px;
}

nav{
    position: fixed;
    padding: 20px;
    width: 250px;
    height: 100vh;
    background-color: var(--theme-background-color);
    opacity: 0.5;
    display: block;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

nav ul{
    padding: 0;
}

nav li{
    list-style: none;
    cursor: pointer;
    color: var(--nav-font-color);
    font-size: 20px;
    padding: 20px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

nav li:hover{
    text-shadow: 0 0 12px var(--font-light-color), 0 0 70px var(--font-light-color), 0 0 100px var(--font-light-color);
    transform: scale(1.1);
}

/* Main */

main{
    background-color: aliceblue;
    width: 500px;
    height: 700px;
    margin-left: 250px;
}